<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://ios-jenkins.hellotalk.cloud:9000/static/ipa/HelloTalk_Binary_5.2.0_6.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.helloTalk.helloTalk</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>HelloTalk</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
